/* ====poster section====*/

/* below styles all sections */

section { 
    padding: 8px 0px 8px 0px;
}

/* below styles only "section 2" */

.section-two {
    border: 5px solid purple;
    background-color: rebeccapurple;
    background-image: radial-gradient(purple, rebeccapurple);
}

/* designating a % for width for an image allows a rescale when web brower moves */

.cake-poster-item {
    border: 3px double lavender; 
    display: flex; 
    flex-wrap: wrap;
    width: 40%;   
    padding: 2.5px; 
 }

.dark {
    color: #333333;
}
 
.center {
    text-align: center;
}

/*====footer styles====*/

footer {
    background-color: white;
    background-image: linear-gradient(white, lavender);
}
.disclaimer {   
    padding: 5px;
    text-align: center;
    border: 5px solid purple;
}